@charset "UTF-8";

/*
   Typical Device Breakpoint 

Pequenas telas: 600px
Celular: 600px até  768px
Tablet: 768px até  992px
Desktop: 992px até  1200px
Grandes telas: acima de  1200px

*/

@media  screen and (min-width: 768px) and (max-width:992px) {
   body {
      background-image: linear-gradient(to top, #49a09d, #5f2c82);
   }

   section#login {
      width: 80vw;
      height: 320px;
   }

   div#imagem {
      float: left;
      height: 100%;
      width: 30%;
   }

   div#formulario {
      float: right;
      height: 100%;
      width: 70%;
   }
}

@media screen and (min-width:992px) {
   body {
      background-image: linear-gradient(to top, #49a09d, #5f2c82);
   }

   section#login {
      width: 85vw;
      height: 340px;
   }

   div#imagem {
      float: left;
      height: 100%;
      width: 50%;
   }

   div#formulario {
      float: right;
      height: 100%;
      width: 50%;
   }
}